@{
    ViewData["Title"] = "Chart Page";
}

<div id="container" style="width:100%; height:400px;"></div>

@section Scripts
{
    <script>

        $.getJSON('/chart/getData', function (data) {

            // create the chart
            Highcharts.stockChart('container', {

            rangeSelector: {
                        buttons: [{
                            type: 'hour',
                            count: 1,
                            text: '1h'
                        }, {
                            type: 'day',
                            count: 1,
                            text: '1D'
                        }, {
                            type: 'all',
                            count: 1,
                            text: 'All'
                        }],
                        selected: 1,
                        inputEnabled: false
                    },

                title: {
                    text: 'AAPL Stock Price'
                },

                series: [{
                            name: 'AAPL',
                            type: 'candlestick',
                            data: data,
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
            });
        });



    </script>

}