@{
    ViewData["Title"] = "Chart Page";
}


<div ng-controller="ChartController">
        <div>
            <select name="security" ng-model="security" ng-options="security.id as security.desc for security in securities">
                <option value="">Please select a security</option>
            </select>
        </div>
</div>


<div id="container" style="width:100%; height:400px;"></div>

@section Scripts
{

    <script src="~/js/app/Modules/chartModule.js"></script>
    <script src="~/js/app/Modules/controllers.js"></script>

    <script>

        // create the chart
        var chart = Highcharts.stockChart('container', {

            rangeSelector: {
                        buttons: [{
                            type: 'hour',
                            count: 1,
                            text: '1h'
                        }, {
                            type: 'day',
                            count: 1,
                            text: '1D'
                        }, {
                            type: 'all',
                            count: 1,
                            text: 'All'
                        }],
                        selected: 1,
                        inputEnabled: false
                    },

                title: {
                    text: 'AAPL Stock Price'
                },

                series: [{
                            name: 'AAPL',
                            type: 'candlestick',
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
            });

    </script>

}